<div class="organizer-page">
  <section class="top">
    <img [src]="organizer.logoUrl" alt="" />
    <div class="main-information">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ organizer.name }}</h5>
          <p class="card-text">City: {{ organizer.city }}</p>
          <p class="card-text">Country: {{ organizer.country }}</p>
          <p class="card-text">Address: {{ organizer.address }}</p>
          <p class="card-text">Email: {{ organizer.email }}</p>
          <p class="card-text">Phone Number: {{ organizer.phoneNumber }}</p>
          <p class="card-text">
            Organizer Since: {{ organizer.createdAt | date : "yyyy-MM-dd" }}
          </p>
          @if (organizer.isVerified) {
          <p class="card-text">Verification Status: Verified</p>
          } @else {
          <p class="card-text">Verification Status: Not Verified</p>
          } @if (organizer.user?.isLoggedIn) {
          <p class="card-text">Online Status: Online</p>
          } @else {
          <p class="card-text">Online Status: Offline</p>
          }
        </div>
      </div>
    </div>
  </section>
  <section class="bottom">
    <div class="additional-information">
      <div class="description my-5">
        <h1>Description</h1>
        <p class="description">{{ organizer.description }}</p>
      </div>
      <h1>Related Locations</h1>
      <div class="cards">
        @for (location of locations; track $index) {
        <div class="card custom">
          <img [src]="location.imageUrl" alt="" />
          <div style="display: flex; align-items: center" class="text">
            <h3 style="margin: 10px 0px">
              <a [routerLink]="['/locations/location', location.id]">{{
                location.name
              }}</a>
              @if (location.isAccessible) {
              <p class="card-text">Accessibility Status: Accessible</p>
              }@else {
              <p class="card-text">Accessibility Status: Inaccessible</p>
              }
            </h3>
          </div>
        </div>
        }
      </div>
      <h1>Related Events</h1>
      <div class="cards">
        @for (event of events; track $index) {
        <div class="card custom">
          <img [src]="event.images[0]" alt="" />
          <div style="display: flex; align-items: center" class="text">
            <h3 style="margin: 10px 0px">
              <a [routerLink]="['/events/event', event.id]">{{
                event.title
              }}</a>
              <p style="margin: 0px">
                Event Status: {{ getEventStatus(event.status).toLowerCase() }}
              </p>
            </h3>
          </div>
        </div>
        }
      </div>
    </div>
  </section>
</div>
