.organizer-page {
  padding: 40px;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 40px;
}

.top {
  height: 100% !important;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 40px;
}

img {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill;
  border-radius: 50%;
}

.main-information {
  height: 100%;
}

.cards {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.card {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card.custom {
  grid-template-columns: 0.2fr 1fr;
}
