<div class="event-page">
  <section class="top">
    <div class="carousel">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          @for (item of event.images; track $index) {
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            [attr.data-bs-slide-to]="$index"
            [class.active]="$index === 0"
            [attr.aria-current]="$index === 0 ? 'true' : 'null'"
            [attr.aria-label]="'Slide' + ($index + 1)"
          ></button>
          }
        </div>
        <div class="carousel-inner">
          @for (item of event.images; track $index) {
          <div class="carousel-item" [ngClass]="{ active: $index === 0 }">
            <img [src]="item" class="d-block w-100 img-fluid" alt="..." />
          </div>
          }
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="main-information">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">Event Start Date: {{ event.startDate }}</p>
          <p class="card-text">Event End Date: {{ event.endDate }}</p>
          <p class="card-text">Event Address: {{ event.location?.address }}</p>
          <p class="card-text">
            Event Status: {{ getEventStatus(event.status).toLowerCase() }}
          </p>
          <p class="card-text">Capacity: {{ event.capacity }}</p>
          <p class="card-text">Booked Staff: {{ event.bookedStaff }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="bottom">
    <div class="additional-information">
      <div class="description my-5">
        <h1>Description</h1>
        <p class="description">{{ event.description }}</p>
      </div>
      <div class="organizer my-5">
        <h1>Organizer</h1>
        <div class="card custom">
          <img [src]="event.organizer?.logoUrl" alt="" />
          <div
            style="
              display: grid;
              grid-template-rows: 1fr auto;
              align-items: center;
              margin: 10px 0px;
            "
            class="text"
          >
            <h3>
              <a
                [routerLink]="['/organizers/organizer', event.organizer?.id]"
                >{{ event.organizer?.name }}</a
              >
            </h3>
            <h5>
              <p class="card-text">City: {{ event.organizer?.city }}</p>
              <p class="card-text">Country: {{ event.organizer?.country }}</p>
              <p class="card-text">Address: {{ event.organizer?.address }}</p>
              @if (event.organizer?.isVerified) {
              <p style="margin: 0px">Verification Status: Verified</p>
              } @else {
              <p style="margin: 0px">Verification Status: Not Verified</p>
              }
            </h5>
          </div>
        </div>
      </div>
      <div class="location my-5">
        <h1>Location</h1>
        <div class="card custom">
          <img [src]="event.location?.imageUrl" alt="" />
          <div
            style="
              display: grid;
              grid-template-rows: 1fr auto;
              align-items: center;
              margin: 10px 0px;
            "
            class="text"
          >
            <h3>
              <a [routerLink]="['/locations/location', event.location?.id]">{{
                event.location?.name
              }}</a>
            </h3>
            <h5>
              <p class="card-text">City: {{ event.location?.city }}</p>
              <p class="card-text">State: {{ event.location?.state }}</p>
              <p class="card-text">Country: {{ event.location?.country }}</p>
              @if (event.location?.isAccessible) {
              <p class="card-text">Accessibility Status: Accessible</p>
              }@else {
              <p class="card-text">Accessibility Status: Inaccessible</p>
              }
            </h5>
          </div>
        </div>
      </div>
      <h1>Speakers and Artists</h1>
      <div class="cards my-5">
        @for (item of event.speakersAndArtists; track $index) {
        <div class="card my-3">
          <h3>{{ item.id }}: {{ item.name }}</h3>
          <p>User Type: {{ item.userType }}</p>
        </div>
        }
      </div>
      <div class="reviews my-5">
        <h1>Reviews</h1>
        <div class="cards my-3">
          @for (item of event.reviews; track $index) {
          <div class="card">
            <h3>{{ item.id }}: {{ item.user.name }}</h3>
            <p>Starcount: {{ item.starCount }}</p>
          </div>
          }
        </div>
      </div>
      <div class="comments my-5">
        <h1>Comments</h1>
        <div class="cards my-3">
          @for (item of event.comments; track $index) {
          <div class="card">
            <h3>{{ item.id }}: {{ item.user.name }}</h3>
            <p>Comment: {{ item.commentContent }}</p>
          </div>
          }
        </div>
      </div>
      <div class="tickets my-5">
        <h1>Tickets</h1>
        <div class="cards my-3">
          @for (item of tickets; track $index) {
          <div class="card p-3">
            <h3>Ticket Type: {{ getTicketStatus(item.type).toLowerCase() }}</h3>
            <p style="margin: 0px">Price: {{ item.price }}</p>
          </div>
          }
        </div>
      </div>
    </div>
  </section>
</div>
