<div class="register-form">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerUser()"
    class="form-card shadow"
  >
    <h2 class="text-center mb-4">Create Your Account</h2>

    <!-- Email -->
    <div class="form-floating mb-3">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
      />
      <label for="email">Email Address</label>
      @if (serverErrors?.Email || serverErrors?.email) { @for (err of
      serverErrors.Email; track $index) {
      <div class="text-danger mt-1">{{ err }}</div>
      } @for (err of serverErrors.email; track $index) {
      <div class="text-danger mt-1">{{ err }}</div>
      } }
    </div>

    <!-- Phone -->
    <div class="form-floating mb-3">
      <input
        formControlName="phoneNumber"
        type="text"
        class="form-control"
        id="number"
        placeholder="555 555 555"
      />
      <label for="number">Phone Number</label>
      @if (serverErrors?.PhoneNumber || serverErrors?.phoneNumber) { @for (err
      of serverErrors.PhoneNumber; track $index) {
      <div class="text-danger mt-1">{{ err }}</div>
      } @for (err of serverErrors.phoneNumber; track $index) {
      <div class="text-danger mt-1">{{ err }}</div>
      } }
    </div>

    <!-- General Server Errors -->
    @if (serverErrors?.general) {
    <div>
      @for (err of serverErrors.general; track $index) {
      <div class="text-danger mt-2">
        {{ err }}
      </div>
      }
    </div>
    }

    <!-- Verify Button -->
    <div class="text-end">
      <button
        type="button"
        (click)="sendVerificationCodes()"
        class="btn btn-outline-primary mt-3"
      >
        Send Verification Codes
      </button>
    </div>

    <!-- Verification Fields -->
    @if (response) {
    <p class="text-success text-center mt-4">
      Verification codes sent to your email and phone!
    </p>

    <!-- Account Name -->
    <div class="form-floating mb-3">
      <input
        formControlName="name"
        type="text"
        class="form-control"
        id="name"
        placeholder="Jon Doe"
      />
      <label for="name">Account Name</label>
      @if (serverErrors?.Name) { @for (err of serverErrors.Name; track $index) {
      <div class="text-danger mt-1">{{ err }}</div>
      } }
    </div>

    <!-- Password -->
    <div class="form-floating mb-3">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
      <label for="password">Password</label>
      @if (serverErrors?.Password) { @for (err of serverErrors.Password; track
      $index) {
      <div class="text-danger mt-1">{{ err }}</div>
      } }
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="emailCode"
        type="text"
        class="form-control"
        id="emailCode"
        placeholder="123456"
      />
      <label for="emailCode">Email Verification Code</label>
      @if (serverErrors?.EmailCode) { @for (err of serverErrors.EmailCode; track
      $index) {
      <div class="text-danger mt-1">{{ err }}</div>
      } }
    </div>

    <div class="form-floating mb-4">
      <input
        formControlName="phoneNumberCode"
        type="text"
        class="form-control"
        id="numberCode"
        placeholder="123456"
      />
      <label for="numberCode">Phone Verification Code</label>
      @if (serverErrors?.PhoneNumberCode) { @for (err of
      serverErrors.PhoneNumberCode; track $index) {
      <div class="text-danger mt-1">{{ err }}</div>
      } }
    </div>

    <!-- Submit Button -->
    <div class="text-end">
      <button type="submit" class="btn btn-success">Register</button>
    </div>
    }
  </form>
</div>
