<div class="participant-cards">
  @for (participant of participants; track $index) {
  <div class="card">
    @if (participant.ticket.qrCodeImageUrl) {
    <img
      [src]="participant.ticket.qrCodeImageUrl"
      alt="QR Code"
      class="qr-code"
    />
    }

    <div class="card-content">
      <h2>{{ participant.ticket.event?.title }}</h2>
      <p>
        <strong>Start:</strong>
        {{ participant.ticket.event?.startDate | date : "medium" }}
      </p>
      <p>
        <strong>End:</strong>
        {{ participant.ticket.event?.endDate | date : "medium" }}
      </p>
      <p>
        <strong>Price:</strong>
        {{ participant.purchase.totalAmount | currency }}
      </p>
      <p>
        <strong>Status:</strong>
        {{ participant.attendance ? "Attended" : "Not Attended" }}
      </p>

      @if (!participant.attendance) {
      <button
        (click)="refund(participant.id, participant.purchase.id)"
        style="width: 100%"
        class="btn btn-outline-danger mt-2"
        [disabled]="refunding"
      >
        Refund
      </button>
      }
    </div>
  </div>
  }
</div>
@if(participants.length == 0) {
<h1 class="text-center">Participation History Is Clear!</h1>
}
