<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Event Management</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ms-2 mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/events"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Events</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/locations"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Locations</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/organizers"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Organizers</a
            >
          </li>
        </ul>
        <form class="d-flex" role="search" (ngSubmit)="searchLogic(searchTerm)">
          <input
            [(ngModel)]="searchTerm"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="search"
            id="search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ms-2 mb-2 mb-lg-0">
          @if (!isLoggedIn$) {
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/register"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/login"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Login</a
            >
          </li>
          } @else { @if (role === 'ADMINISTRATOR') {
          <li class="nav-item mx-3">
            <a
              class="nav-link"
              routerLink="/admin-panel"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Admin Panel</a
            >
          </li>
          } @else if(role === 'ORGANIZER'){
          <li class="nav-item mx-3">
            <a
              class="nav-link"
              routerLink="/organizer-panel"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Organizer Panel</a
            >
          </li>
          }
          <li class="nav-item mx-3">
            <a
              style="font-size: 28px; color: rgba(0, 0, 0, 0.65)"
              [routerLink]="['profile', userId]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              ><i class="bi bi-person-circle"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              (click)="logout()"
              routerLink="/login"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Log Out</a
            >
          </li>
          }
        </ul>
      </div>
    </div>
  </nav>
</header>
