<section class="search">
  <div></div>
  <div></div>
  <form class="d-flex" role="search" (ngSubmit)="searchLogic(searchTerm)">
    <input
      [(ngModel)]="searchTerm"
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="search"
      id="search"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</section>
<section class="cards">
  @for (event of events; track event.id) {
  <div class="card">
    <img [src]="event.images[0]" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ event.title }}</h5>
      <p class="card-text">
        {{ event.description }}
      </p>
      <p class="card-text">
        Event Start Date: {{ event.startDate | date : "yyyy-MM-dd" }}
      </p>
      <p class="card-text">
        Event End Date: {{ event.endDate | date : "yyyy-MM-dd" }}
      </p>
      <p class="card-text">Event Organizer: {{ event.organizer?.name }}</p>
      <p class="card-text">Event Address: {{ event.location?.address }}</p>
      @for (item of event.speakersAndArtists; track $index) {
      <p class="card-text">Speakers & Artists: {{ item.name }}</p>
      }
      <a [routerLink]="['event', event.id]" class="btn btn-primary">See More</a>
    </div>
  </div>
  }
</section>
