.cards {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 40px;
}

.card {
  height: 100%;
  padding: 30px;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 40px;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  transition: transform 0.3s;
  will-change: transform;
  background-color: #37474f;
  color: #eceff1;
  position: relative;
  box-shadow: 0 4px 20px rgba(55, 71, 79, 0.3);
}

.card:hover {
  transform: scale(1.02);
}

.card .top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.card img {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

p {
  margin-bottom: 8px;
}

.spinner {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  margin: auto;
}
