<div class="organizer-page">
  <section class="top">
    <img [src]="organizer.logoUrl" alt="" />
    <div class="main-information">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{ organizer.name }}</h1>
          <p class="card-text mb-3">
            <i class="bi bi-geo-alt-fill me-2"></i>City: {{ organizer.city }}
          </p>
          <p class="card-text mb-3">
            <i class="bi bi-globe2 me-2"></i>Country: {{ organizer.country }}
          </p>
          <p class="card-text mb-3">
            <i class="bi bi-house-door-fill me-2"></i>Address:
            {{ organizer.address }}
          </p>
          <p class="card-text mb-3">
            <i class="bi bi-envelope-fill me-2"></i>Email: {{ organizer.email }}
          </p>
          <p class="card-text mb-3">
            <i class="bi bi-telephone-fill me-2"></i>Phone Number:
            {{ organizer.phoneNumber }}
          </p>
          <p class="card-text mb-3">
            <i class="bi bi-calendar-check-fill me-2"></i>Organizer Since:
            {{ organizer.createdAt | date : "yyyy-MM-dd" }}
          </p>

          @if (organizer.isVerified) {
          <p class="card-text mb-3">
            <i class="bi bi-patch-check-fill me-2"></i>Verification Status:
            Verified
          </p>
          } @else {
          <p class="card-text mb-3">
            <i class="bi bi-patch-exclamation-fill me-2"></i>Verification
            Status: Not Verified
          </p>
          } @if (organizer.user?.isLoggedIn) {
          <p class="card-text mb-3">
            <i class="bi bi-circle-fill text-success me-2"></i>Online Status:
            Online
          </p>
          } @else {
          <p class="card-text mb-3">
            <i class="bi bi-circle-fill text-danger me-2"></i>Online Status:
            Offline
          </p>
          }
        </div>
      </div>
    </div>
  </section>
  <section class="bottom">
    <div class="additional-information">
      <div class="description my-5">
        <h2>Description</h2>
        <p class="description">{{ organizer.description }}</p>
      </div>
      <div class="locations mb-5">
        <h2>Location</h2>
        <div class="cards">
          @if (locations.length === 0) {
          <h5 class="my3 py-3">No location found!</h5>
          } @for (location of locations; track $index) {
          <a
            [routerLink]="['/locations/location', location.id]"
            class="card custom"
          >
            <div class="top">
              <img [src]="location.imageUrl" alt="" />
              <div class="text">
                <h3 class="mt-4 mb-2">
                  {{ location.name }}
                </h3>
                @if (location.isAccessible) {
                <p class="card-text">Accessibility Status: Accessible</p>
                }@else {
                <p class="card-text">Accessibility Status: Inaccessible</p>
                }
              </div>
            </div>
            <div class="bottom">
              <h5>
                <p class="card-text mb-3">
                  <i class="bi bi-buildings"></i> City:
                  {{ location.city }}
                </p>
                <p class="card-text mb-3">
                  <i class="bi bi-map-fill"></i> State:
                  {{ location.state }}
                </p>
                <p class="card-text">
                  <i class="bi bi-globe-americas"></i> Country:
                  {{ location.country }}
                </p>
              </h5>
            </div>
          </a>
          }
        </div>
      </div>
      <h2>Upcoming Events</h2>
      <section class="cards events">
        @if (events.length === 0) {
        <h5 class="my3 py-3">No event found!</h5>
        } @for (event of events; track event.id) {
        <a [routerLink]="['/events/event', event.id]" class="card">
          <img [src]="event.images[0]" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title mb-3">{{ event.title }}</h5>

            <p class="card-text">
              <i class="bi bi-grid-fill me-1"></i>
              Category: {{ getCategory(event.category) }}
            </p>

            <p class="card-text">
              <i style="color: gold" class="me-1 bi bi-star-fill"></i>
              Rating: {{ getReviewResult(event) | number : "1.1-1" }} ({{
                event.reviews.length
              }})
            </p>
          </div>
        </a>
        }
      </section>
    </div>
  </section>
</div>
