<section class="search">
  <div class="sortAndAdd">
    <select
      [(ngModel)]="selectedCategoryOption"
      name="categoryOption"
      (change)="onLogicChange()"
      style="width: max-content"
      class="form-select"
      aria-label="Default select example"
    >
      <option value="" selected>Filter By Category</option>
      <option value="IT_And_Technologies">IT And Technologies</option>
      <option value="Bussiness_Meetings">Bussiness Meetings</option>
      <option value="Casual_Meetings">Casual Meetings</option>
      <option value="Conferences">Conferences</option>
      <option value="Music">Music</option>
      <option value="Festivals">Festivals</option>
      <option value="Sports">Sports</option>
      <option value="Fashion">Fashion</option>
      <option value="Startups_And_Product_Launches">Product Launches</option>
    </select>

    <select
      [(ngModel)]="selectedSortOption"
      name="sortOption"
      (change)="onLogicChange()"
      style="width: max-content"
      class="form-select"
      aria-label="Default select example"
    >
      <option value="" selected>Sort By</option>
      <option value="dateAsc">Date Asc.</option>
      <option value="dateDesc">Date Desc.</option>
      <option value="rating">Rating</option>
      <option value="capacityAsc">Capacity Asc.</option>
      <option value="capacityDesc">Capacity Desc.</option>
    </select>
  </div>
  <div></div>
  <form class="d-flex" role="search" (ngSubmit)="searchLogic(searchTerm)">
    <input
      [(ngModel)]="searchTerm"
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="search"
      id="search"
    />
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </form>
</section>
<section class="cards">
  @if (!isLoading) { @for (event of filteredEvents; track event.id) {
  <a [routerLink]="['event', event.id]" class="card">
    <img [src]="event.images[0]" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title mb-3">{{ event.title }}</h5>

      <p class="card-text">
        <i class="bi bi-grid-fill me-1"></i>
        Category: {{ getCategory(event.category) }}
      </p>

      <p class="card-text">
        <i style="color: gold" class="me-1 bi bi-star-fill"></i>
        Rating: {{ getReviewResult(event) }} ({{ event.reviews.length }})
      </p>
    </div>
  </a>
  } }
</section>

@if(isLoading) {
<div class="spinner">
  <div class="spinner-border text-primary" role="status"></div>
</div>
}
