.user-page {
  padding: 40px;
  display: grid;
  grid-template-rows: 1fr auto auto;
  gap: 40px;
}

.top {
  height: 100% !important;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 40px;
}

img {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill;
  border-radius: 50%;
}

.main-information {
  height: 100%;
}

.cards {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.card {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 16px;
}

.card.custom {
  grid-template-columns: 0.2fr 1fr;
}

.card-header-custom {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.group {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-link.active {
  background-color: #1565c0;
  color: white;
  font-weight: bold;
}
