.user-page {
  padding: 40px;
  display: grid;
  grid-template-rows: 1fr auto auto;
  gap: 40px;
}

.top {
  height: 100% !important;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .top {
    grid-template-columns: 0.74fr 1fr;
  }
}

@media screen and (max-width: 930px) {
  .top {
    grid-template-columns: 0.9fr 1fr;
  }

  .top-side p {
    font-size: 28px;
  }
}

@media screen and (max-width: 830px) {
  .top {
    grid-template-columns: 0.95fr 1fr;
  }

  .top-side p {
    font-size: 24px;
  }
}

@media screen and (max-width: 790px) {
  .top {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
  }

  .top-side p {
    font-size: 21px;
  }
}

img {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill;
  border-radius: 50%;
}

@media screen and (max-width: 620px) {
  .top {
    grid-template-rows: 1.3fr 1fr;
  }
}

@media screen and (max-width: 540px) {
  .top {
    grid-template-rows: 1.1fr 1fr;
    gap: 0px;
  }
}

@media screen and (max-width: 480px) {
  .top {
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 410px) {
  .top {
    grid-template-rows: 0.95fr 1fr;
  }
}

@media screen and (max-width: 380px) {
  .top {
    grid-template-rows: 0.9fr 1fr;
  }

  .top-side p {
    font-size: 20px;
  }
}

@media screen and (max-width: 367px) {
  .top {
    grid-template-rows: 0.88fr 1fr;
  }
}

@media screen and (max-width: 340px) {
  .top {
    grid-template-rows: 0.82fr 1fr;
  }
}

@media screen and (max-width: 330px) {
  .top {
    grid-template-rows: 0.83fr 1fr;
  }
}

.main-information {
  height: 100%;
}

.cards {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.card {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 16px;
}

.card.custom {
  grid-template-columns: 0.2fr 1fr;
}

.card-header-custom {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.group {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

@media screen and (max-width: 450px) {
  .user-page {
    padding: 20px !important;
  }
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-link.active {
  font-weight: bold;
  border-color: #ddd #ddd #fff;
}
