<div class="profile">
  <aside class="card">
    <nav class="card-body">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="user-information">User Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user-analytics">User Analytics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="participation-history"
            >Participation History</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reviews">Reviewed Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="comments">Commented Events</a>
        </li>
        @if (role != "3") {
        <li class="nav-item">
          <a class="nav-link" routerLink="register-as-organizer"
            >Register As Organizer</a
          >
        </li>
        } @if (userType != "2") {
        <li class="nav-item">
          <button (click)="registerAsArtist()" class="nav-link">
            Register As Artist
          </button>
        </li>
        } @else {
        <li class="nav-item">
          <button (click)="getBackToBasic()" class="nav-link">
            Remove As Artist
          </button>
        </li>
        } @if (userType != "3") {
        <li class="nav-item">
          <button (click)="registerAsSpeaker()" class="nav-link">
            Register As Speaker
          </button>
        </li>
        } @else {
        <li class="nav-item">
          <button (click)="getBackToBasic()" class="nav-link">
            Remove As Speaker
          </button>
        </li>
        }
      </ul>
    </nav>
  </aside>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
