<section class="cards">
  @for (organizer of organizers; track organizer.id) {
  <div class="card">
    <img [src]="organizer.logoUrl" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ organizer.name }}</h5>
      <p class="card-text">
        {{ organizer.description }}
      </p>
      <p class="card-text">City: {{ organizer.city }}</p>
      <p class="card-text">Country: {{ organizer.country }}</p>
      <p class="card-text">Address: {{ organizer.address }}</p>
      <p class="card-text">Organizer's Email: {{ organizer.email }}</p>
      <p class="card-text">organizer's Number: {{ organizer.phoneNumber }}</p>
      @if (organizer.isVerified) {
      <p class="card-text">Verification Status: Verified</p>
      } @else {
      <p class="card-text">Verification Status: Not Verified</p>
      }
      <a [routerLink]="['organizer', organizer.id]" class="btn btn-primary"
        >See More</a
      >
    </div>
  </div>
  }
</section>
