<div class="user-page">
  <section class="top">
    <img [src]="user.profilePictureUrl" alt="" />
    <div class="main-information">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">Email: {{ user.email }}</p>
          <p class="card-text">Phone Number: {{ user.phoneNumber }}</p>
          <p class="card-text">
            User Role: {{ getUserRole(user.role).toLowerCase() }}
          </p>
          <p class="card-text">
            User Type: {{ getUserType(user.userType).toLowerCase() }}
          </p>
          <p class="card-text">Balance: {{ user.balance }}</p>
          @if (user.isLoggedIn) {
          <p class="card-text">Online Status: Online</p>
          } @else {
          <p class="card-text">Online Status: Offline</p>
          }
        </div>
      </div>
    </div>
  </section>
  <section class="bottom">
    <h1>
      need to add collapse for update logic, also should add button for account
      deletion. Also should check if logged in user is viewing the profile, if
      so then balance should be displayed, otherwise balance should be hidden.
    </h1>
  </section>
</div>
