main {
  min-height: 89vh;
}

.toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  z-index: 1055;
}

.toast {
  min-width: 250px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
}
