<section class="header">
  <ul class="nav">
    <li class="nav-item">
      <button class="nav-link" (click)="getDrafted()">Drafted Events</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" (click)="getPublished()">
        Published Events
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" (click)="getCompleted()">
        Completed Events
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" (click)="getRemoved()">Removed Events</button>
    </li>
  </ul>
</section>

@if (result.length != 0) {
<section class="cards">
  @for (event of result; track event.id) {
  <a
    [ngClass]="{
      drafted: resultType === 'drafted',
      published: resultType === 'published',
      completed: resultType === 'completed',
      removed: resultType === 'removed'
    }"
    [routerLink]="['/events/event', event.id]"
    class="card"
  >
    <img [src]="event.images[0]" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title mb-3">{{ event.title }}</h5>

      <p class="card-text">
        <i class="bi bi-grid-fill me-1"></i>
        Category: {{ getCategory(event.category) }}
      </p>

      <p class="card-text">
        <i style="color: gold" class="me-1 bi bi-star-fill"></i>
        Rating: {{ getReviewResult(event) }} ({{ event.reviews.length }})
      </p>
    </div>
  </a>
  }
</section>
} @else {
<h1 class="text-center">No event found!</h1>
}
