.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 40px;
}

.card {
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-img {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  height: 250px;
  object-fit: cover;
}

p {
  margin-bottom: 8px;
}

.cards a {
  text-decoration: none;
  color: white;
}

.nav {
  padding: 0px 40px;
}

.nav-link {
  color: #1565c0;
  font-weight: bold;
}

.text-center {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drafted {
  background-color: lightskyblue;
}

.drafted a {
  color: #000;
}

.published {
  background-color: #1565c0;
  color: white;
}

.completed {
  background-color: #2e7d32;
  color: white;
}

.removed {
  background-color: lightcoral;
}

.buttons {
  padding: 0px 16px 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

button {
  width: 100%;
  white-space: nowrap;
}

.spinner {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  margin: auto;
}

.nav-tabs .nav-link.active {
  background-color: #1565c0;
  color: white;
  font-weight: bold;
}

.top {
  height: 100% !important;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 40px;
  padding: 40px;
}

@media screen and (max-width: 1024px) {
  .top {
    grid-template-columns: 0.74fr 1fr;
  }
}

@media screen and (max-width: 930px) {
  .top {
    grid-template-columns: 0.9fr 1fr;
  }

  .top-side p {
    font-size: 28px;
  }
}

@media screen and (max-width: 830px) {
  .top {
    grid-template-columns: 0.95fr 1fr;
  }

  .top-side p {
    font-size: 24px;
  }
}

@media screen and (max-width: 790px) {
  .top {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
  }

  .top-side p {
    font-size: 21px;
  }
}

.top img {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill;
  border-radius: 50%;
}

@media screen and (max-width: 620px) {
  .top {
    grid-template-rows: 1.3fr 1fr;
  }
}

@media screen and (max-width: 540px) {
  .top {
    grid-template-rows: 1.1fr 1fr;
    gap: 0px;
  }
}

@media screen and (max-width: 480px) {
  .top {
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 410px) {
  .top {
    grid-template-rows: 0.95fr 1fr;
  }
}

@media screen and (max-width: 380px) {
  .top {
    grid-template-rows: 0.9fr 1fr;
  }

  .top-side p {
    font-size: 20px;
  }
}

@media screen and (max-width: 367px) {
  .top {
    grid-template-rows: 0.88fr 1fr;
  }
}

@media screen and (max-width: 340px) {
  .top {
    grid-template-rows: 0.82fr 1fr;
  }
}

@media screen and (max-width: 330px) {
  .top {
    grid-template-rows: 0.83fr 1fr;
  }
}

.main-information {
  height: 100%;
}

@media screen and (max-width: 450px) {
  .top {
    padding: 20px !important;
  }
}

.circle-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: auto;
}
.legend {
  list-style: none;
  padding-left: 0;
}
.legend li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.legend span {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 0.5rem;
  border-radius: 3px;
}
