<div class="hero">
  <h1 class="mb-2">Discover Amazing Events Near You</h1>
  <p class="mb-3">Book tickets instantly!</p>
  <a routerLink="/events" class="btn btn-primary btn-lg">Explore Events</a>
</div>
<section class="container my-5 hero-container">
  <h2 class="text-center mb-5">How It Works</h2>
  <div class="row text-center">
    <div class="col-md-4">
      <i class="bi bi-search"></i>
      <h5>Find Events</h5>
      <p>Search by category, location, and date.</p>
    </div>
    <div class="col-md-4">
      <i class="bi bi-ticket"></i>
      <h5>Purchase Tickets</h5>
      <p>Buy securely through our platform.</p>
    </div>
    <div class="col-md-4">
      <i class="bi bi-star"></i>
      <h5>Enjoy!</h5>
      <p>Attend events and have a great time.</p>
    </div>
  </div>
</section>

@if (isLoggedIn$) {
<section class="container my-5" id="upcomingEvents">
  <h2 class="text-center mb-5">Upcoming Events</h2>
  <div class="row">
    @if (!isLoading) { @for (item of upcoming; track $index) {
    <a [routerLink]="['/events/event', item.id]" class="col-md-4">
      <div class="card event-card">
        <img [src]="item.images[0]" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title mb-3">{{ item.title }}</h5>

          <p class="card-text mb-2">
            <i class="bi bi-grid-fill me-1"></i>
            Category: {{ getCategory(item.category) }}
          </p>

          <p class="card-text">
            <i style="color: gold" class="me-1 bi bi-star-fill"></i>
            Rating: {{ getReviewResult(item) | number : "1.1-1" }} ({{
              item.reviews.length
            }})
          </p>
        </div>
      </div>
    </a>
    } } @else {
    <div class="spinner-border text-primary" role="status"></div>
    }
  </div>
</section>

<section class="container my-5" id="popularEvents">
  <h2 class="text-center mb-5">Popular Events</h2>
  <div class="row">
    @if (!isLoading) {@for (item of popular; track $index) {
    <a [routerLink]="['/events/event', item.id]" class="col-md-4">
      <div class="card event-card">
        <img [src]="item.images[0]" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title mb-3">{{ item.title }}</h5>

          <p class="card-text mb-2">
            <i class="bi bi-grid-fill me-1"></i>
            Category: {{ getCategory(item.category) }}
          </p>

          <p class="card-text">
            <i style="color: gold" class="me-1 bi bi-star-fill"></i>
            Rating: {{ getReviewResult(item) | number : "1.1-1" }} ({{
              item.reviews.length
            }})
          </p>
        </div>
      </div>
    </a>
    } } @else {
    <div class="spinner-border text-primary" role="status"></div>
    }
  </div>
</section>

<section class="container my-5 d-flex justify-content-center">
  <div class="content">
    <h2 class="text-center mb-4">We Got a Gift For You!</h2>
    <div class="d-flex justify-content-center mb-4">
      <i class="bi bi-arrow-down"></i>
    </div>

    <div class="promo-card shadow text-center">
      <h5 class="promo-title">🎁 Special Offer</h5>

      <div *ngIf="nextPromoFormatted" class="text-center text-muted mb-2">
        Next available promo: {{ nextPromoFormatted }}
      </div>

      <ng-container *ngIf="promoCode; else acquireBtn">
        <div class="promo-code-text">
          {{ promoCode.promoCodeText.toUpperCase() }}
        </div>
        <div class="promo-timer mt-2" *ngIf="countdown > 0">
          Expires in: {{ countdownDisplay }}
        </div>
      </ng-container>

      <ng-template #acquireBtn>
        <button
          class="btn btn-outline-primary"
          (click)="getRandomPromoCode()"
          [disabled]="isPromoButtonDisabled"
        >
          Get Your Promo Code
        </button>
      </ng-template>
    </div>
  </div>
</section>

} @else {
<section class="container d-flex justify-content-center my-5">
  <div class="content">
    <h2 class="text-center mb-4">Wanna Get Started?</h2>
    <div class="d-flex justify-content-center mb-4">
      <i class="bi bi-arrow-down"></i>
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary" routerLink="/register">Register Now</a>
    </div>
  </div>
</section>
}
