.hero {
  background: url("https://t4.ftcdn.net/jpg/08/16/45/49/360_F_816454980_vzAig2DbHQq9NjeC2eyBFt6eG64qrCYP.jpg")
    center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 250px 40px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
}

.card.event-card {
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card.event-card img {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  height: 200px;
  object-fit: cover;
}

.hero-container i {
  font-size: 2rem;
}

.row {
  row-gap: 40px;
}

h2 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.bi-arrow-down {
  font-size: 2rem;
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.spinner-border {
  margin: auto;
}

.promo-card {
  background-color: #f8fbff;
  border: 2px dashed #007bff;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 400px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.promo-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #007bff;
  margin-bottom: 1.5rem;
}

.promo-code-text {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.promo-timer {
  font-size: 1rem;
  color: #dc3545;
  font-weight: 500;
}
