<div class="d-flex justify-content-between p-3">
  <h4 class="m-0">Related Artists</h4>
  <button
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
    type="button"
  ></button>
</div>
<div class="artists">
  @for (artist of artists; track $index) {
  <div class="card">
    <img [src]="artist.profilePicture" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ artist.name }}</h5>
      @if (!isAdded(artist.id)) {
      <button
        style="width: 100%"
        class="mt-3 btn btn-primary"
        (click)="addArtist(artist.id)"
      >
        Add Artist On Event
      </button>
      }@else {
      <button
        style="width: 100%"
        class="mt-3 btn btn-danger"
        (click)="removeArtist(artist.id)"
      >
        Remove Artist From Event
      </button>
      }
    </div>
  </div>
  }
</div>
