<div class="d-flex justify-content-between p-3">
  <h4 class="m-0">Related Speakers</h4>
  <button
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
    type="button"
  ></button>
</div>
<div class="speakers">
  @for (speaker of speakers; track $index) {
  <div class="card">
    <img [src]="speaker.profilePicture" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ speaker.name }}</h5>
      @if (!isAdded(speaker.id)) {
      <button
        style="width: 100%"
        class="mt-3 btn btn-primary"
        (click)="addSpeaker(speaker.id)"
      >
        Add Speaker On Event
      </button>
      }@else {
      <button
        style="width: 100%"
        class="mt-3 btn btn-danger"
        (click)="removeSpeaker(speaker.id)"
      >
        Remove Speaker From Event
      </button>
      }
    </div>
  </div>
  }
</div>
