<div style="padding-left: 40px">
  @if (role === "ADMINISTRATOR") {
  <a routerLink="add-location" class="btn btn-primary">Add New Location</a>
  }
</div>
<section class="cards">
  @if (!isLoading) { @for (location of locations; track location.id) {
  <a [routerLink]="['location', location.id]" class="card">
    <div class="top">
      <img [src]="location.imageUrl" alt="" />
      <div class="text">
        <h3 class="mt-4 mb-2">
          {{ location.name }}
        </h3>
        @if (location.isAccessible) {
        <p class="card-text">Accessibility Status: Accessible</p>
        }@else {
        <p class="card-text">Accessibility Status: Inaccessible</p>
        }
      </div>
    </div>
    <div class="bottom">
      <h5>
        <p class="card-text mb-3">
          <i class="bi bi-buildings"></i> City:
          {{ location.city }}
        </p>
        <p class="card-text mb-3">
          <i class="bi bi-map-fill"></i> State:
          {{ location.state }}
        </p>
        <p class="card-text">
          <i class="bi bi-globe-americas"></i> Country:
          {{ location.country }}
        </p>
      </h5>
    </div>
  </a>
  } }
</section>

@if(isLoading) {
<div class="spinner">
  <div class="spinner-border text-primary" role="status"></div>
</div>
}
