.add-event-form {
  width: 60vw;
  min-height: 90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  height: max-content;
}

.preview-container {
  max-width: 100%;
  overflow-x: auto;
}

small {
  white-space: pre-line;
}

@media screen and (max-width: 768px) {
  .add-event-form {
    width: 80vw;
  }
}
