.update-form {
  width: 60vw;
  min-height: 75vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 1.5rem;
  width: 100%;
  background: #f9f9f9;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-floating small.text-danger {
  margin-top: 0.25rem;
  display: block;
}

@media screen and (max-width: 768px) {
  .update-form {
    width: 80vw;
  }

  form {
    padding: 1rem;
  }
}
