/* You can add global styles to this file, and also import other style files */
body {
  background-color: #faf8f6;
  color: #2e2e2e;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
