<div class="register-form">
  <form [formGroup]="form" (ngSubmit)="updateEvent()">
    <div class="form-floating mb-3">
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="New Event"
      />
      <label for="title">Event Title</label>

      @if (backendErrors['Title']) { @for (err of backendErrors['Title']; track
      $index) {
      <div class="text-danger">
        <div>{{ err }}</div>
      </div>
      } }
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="description"
        type="text"
        class="form-control"
        id="description"
      />
      <label for="description">Event Description</label>

      @if (backendErrors['Description']) { @for (err of
      backendErrors['Description']; track $index) {
      <div class="text-danger">
        <div>{{ err }}</div>
      </div>
      } }
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="startDate"
        type="datetime-local"
        class="form-control"
        id="startDate"
      />
      <label for="startDate">Event Start Date</label>

      @if (backendErrors['StartDate']) { @for (err of
      backendErrors['StartDate']; track $index) {
      <div class="text-danger">
        <div>{{ err }}</div>
      </div>
      } }
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="endDate"
        type="datetime-local"
        class="form-control"
        id="endDate"
      />
      <label for="endDate">Event End Date</label>

      @if (backendErrors['EndDate']) { @for (err of backendErrors['EndDate'];
      track $index) {
      <div class="text-danger">
        <div>{{ err }}</div>
      </div>
      } }
    </div>

    <div class="form-floating">
      <input
        formControlName="capacity"
        type="number"
        class="form-control"
        id="capacity"
      />
      <label for="capacity">Event Capacity</label>

      @if (backendErrors['Capacity']) { @for (err of backendErrors['Capacity'];
      track $index) {
      <div class="text-danger">
        <div>{{ err }}</div>
      </div>
      } }
    </div>

    <div style="display: flex; justify-content: flex-end" class="verify-button">
      <button type="submit" class="btn btn-warning mt-3 mb-5">
        Update Event
      </button>
    </div>
  </form>
</div>
