.register-form {
  width: 60vw;
  height: 90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  height: max-content;
}

.text-danger {
  font-size: 0.9rem;
  margin-top: 0.25rem;
}
