<div class="login-form">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="loginUser()"
    class="form-card shadow"
  >
    <h2 class="text-center mb-4">Welcome Back</h2>

    <div class="form-floating mb-3">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
      />
      <label for="email">Email address</label>
      @if (serverErrors?.Email || serverErrors?.email) { @for (err of
      serverErrors.Email; track $index) {
      <div class="text-danger mt-1">{{ err }}</div>
      } @for (err of serverErrors.email; track $index) {
      <div class="text-danger mt-1">{{ err }}</div>
      } }
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
      <label for="password">Password</label>
      @if (serverErrors?.Password) { @for (err of serverErrors.Password; track
      $index) {
      <div class="text-danger mt-1">{{ err }}</div>
      } } @if (errorMessage){
      <div class="text-danger mt-1">{{ errorMessage }}</div>
      }
    </div>

    <div class="text-end">
      <button type="submit" class="btn btn-success mt-3">Log In</button>
    </div>
  </form>
</div>
